{% extends 'base.htm' %}

{% block content %}

	<h1>Reader Luminaries: Truth, Virtue, and Other Great Ideas</h1>
	
	<p>Reader Luminaries is a tool to supplement the reading of three pre-selected books:</p>
<ol>
	<li><cite>Works</cite> by Horace</li>
	<li><cite>Essays</cite> by Francis Bacon</li>
	<li><cite>The Prince</cite> by Machiavelli</li>
</ol>
	
	<p>Through the use of this tool your understanding of these three books will be enhanced.</p>
	
	<p>Think of Reader Lite as if it were a traditional back-of-the-book index but made better with a set of super powers.</p>
	
	<p>
Reader Lite tool was written by me, Eric Lease Morgan &lt;<a href="mailto:eric_morgan@infomotions.com">eric_morgan@infomotions.com</a>&gt;. As a librarian I have always been fascinated with the collection, organization, preservation, and dissemination of data, information, and knowledge. Reader Lite is simply another application in that vein.
</p>

	
{% endblock %}

