{% extends 'base.htm' %}

{% block content %}
	<h1>Get and ask a question</h1>
	
	<p>Below is a randomly selected question from {{carrel[1]}}:</p>
	<blockquote>
	<p>{{question}}</p>
	</blockquote>
	
	<p>Answers often include words from their questions. With this is mind, consider submitting a <a href="/search/?carrel={{carrel[0]}}--{{carrel[1]}}--&amp;query={{question}}&amp;depth=8">search</a> against {{carrel[1]}} using this question as input. Alternatively, <a href="/ask/?question={{question}}">search and elaborate</a> all in one go.</p>
		
{% endblock %}

