{% extends 'base.htm' %}

{% block content %}
	  <h1>Search</h1>
	  
	  <p>When it comes to the selected book, what do you want to know or read about?</p>

	  <form method='GET' action='/search/'>
	  <table>
		  <tr><td style='text-align:right'>Book</td>
		      <td>
		         <select name='carrel'>
		           {% for book in catalog %}
                     {% if book[ 0 ] == carrel %}
                       <option value='{{book[0]}}--{{book[1]}}--{{book[3]}}' selected='selected' >{{book[ 1 ] }}</option>
 				     {% else %}
                        <option value='{{book[0]}}--{{book[1]}}--{{book[3]}}'>{{book[ 1 ] }}</option>
 				     {% endif %}
		         {% endfor %}
		        </select>
		      </td>
	      </tr>
		  <tr><td style='text-align:right'>Query</td><td><input name='query' value='{{query}}' size='64' /></td></tr>
		  <tr><td style='text-align:right'>Number of sentences</td><td>
		  <select name='depth'>
            {% for i in [ '1', '2', '4', '8', '16', '32', '64' ] %}
              {% if i == depth %}
                <option value='{{i}}' selected='selected'>{{i}}</option>
              {% else %}
                <option value='{{i}}'>{{i}}</option>
              {% endif %}
           {% endfor %}
		  </select></td></tr>
		  <tr><td></td><td><input type='submit' value='Search' /></td></tr>
	  </table>
	  </form>
	  
	  <p>Enter a query such as one, two, or more words, and then select the number of desired sentences. A paragraph of relevent sentences will be returned. It is strongly suggested you return only one or two sentences to start and gradually increase the number. By doing so you will get a much better flavor of the results. I promise.</p>
	  <p>For extra credit and more meaningful search results, garner the scope of each book by reading reviews of each title, linked below. These reviews enumerate, describe, and illustrate characteristics of each book enabling you to articulate more meaningful and nuanced queries:</p>
	  <ul>
		{% for book in catalog %}
		<li><a href='{{book[2]}}'>{{book[1]}}</a></li>
		{% endfor %}

	  </ul>
	  
{% endblock %}